@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Martel:wght@400;800&family=Titillium+Web:wght@700&display=swap');

header h2 {
    float:inline-end;
    padding-inline-end: 30px;
    color: azure;
    position: inherit;
    font-family: 'Martel', serif;
}

body{
    background-color: black;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding: 20px;
}

main{
    flex: 1;
    max-height: 50%;
    justify-content: center;
    background-color:darkgray;
    /*align-items: center;*/
}

main{
    display:grid;
    grid-template-rows: repeat(20, 2fr);
    grid-template-columns: repeat(20, 2fr);  
}

#head{
    background: black;
    border: 2px solid darkgray; 
    transform: scale(1.02);
    border-radius: 9px;
}

#snake{
    background-color: white;
}

#frog{
    background: green;
}

